{% extends "base.html" %}
{% block content %}
<div class="col-sm-5 col-sm-offset-1">
  {% if object_list %}
  <div class="list">
    <ul>
    {% for item in object_list %}
      {% ifchanged %}
        <li>
          <h2>{{item.specialization}}</h2>
        </li>
      {% endifchanged %}
      <li>
        <a href="{% url 'appointment' item.pk %}">{{item.full_name}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      <strong>Список врачей пуст</strong>
    </div>
  {% endif %}
</div>
<div class="col-sm-4">
  <form role="form" method="GET" action="/">
    <div class="form-group">
      <label for="search-input" class="col-form-label"><h2>Найти врача</h2></label>
      <input class="form-control" type="search" id="full_name" name="query" {% if query %} value="{{query}}" {% endif %}  placeholder="Введите имя">
    </div>
    <div class="form-group text-right">
      <a class="btn btn-default" href="/" role="button">Сбросить</a>
      <button type="submit" class="btn btn-primary">Найти!</button>
    </div>
  </form>
</div>
{% endblock %}